<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>camer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CameraStatus</servlet-name>
    <servlet-class>CameraStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CameraStatus</servlet-name>
    <url-pattern>/CameraStatus</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Rtsp2Rtmp</servlet-name>
    <servlet-class>Rtsp2Rtmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rtsp2Rtmp</servlet-name>
    <url-pattern>/Rtsp2Rtmp</url-pattern>
  </servlet-mapping>
</web-app>